.ClickMe,
.NoClickMe{
font-size: 28px;
font-family: helvetica,'Times New Roman', sans-serif;
}/*
add CSS Styling */

.ClickMe{
    background-color: black;
    color: white;
}

.NoClickMe{
    background-color: yellow;
    color: black;
}